html {
  background-color: #fefcf6;
  font-family: 'Arimo', sans-serif;
  color: #333d4d; }
  html body {
    margin: 0;
    position: relative; }
  html nav {
    opacity: 0.96;
    display: flex;
    font-family: 'Francois One', sans-serif;
    letter-spacing: .05em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #333d4d;
    position: fixed;
    width: 100%;
    background-color: #fefcf6;
    white-space: nowrap; }
    html nav h1 {
      margin-left: 3%; }
    html nav div {
      display: flex;
      width: 50%;
      justify-content: space-around; }
    html nav .hoverLink > a {
      position: relative;
      text-decoration: none;
      color: #333d4d; }
    html nav .hoverLink > a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #000;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    html nav .hoverLink > a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
    html nav .hamburger {
      display: none; }
    html nav .mobileHamburger {
      display: none; }
    @media (max-width: 800px) {
      html nav .hoverLink {
        display: none; }
      html nav .hamburger {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    html nav .headLink {
      border-bottom: 1px solid #333d4d;
      cursor: pointer; }
  html .hamburger {
    display: none;
    cursor: pointer; }
    html .hamburger .showDropDown {
      display: none; }
      html .hamburger .showDropDown .headDropDown {
        display: flex;
        flex-direction: column;
        justify-content: center; }
    html .hamburger .dropDownHoverLink {
      text-decoration: none;
      color: #333d4d;
      display: flex;
      flex-direction: column;
      align-items: center; }
  html .headerImage {
    width: 100%;
    height: 80%;
    overflow: hidden;
    background-image: url("../Images/new_ocean_pic.png");
    background-repeat: no-repeat;
    background-size: 120%;
    height: 0;
    padding-bottom: 39.70588%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center; }
    html .headerImage div {
      padding-top: 40%;
      color: #fefcf6;
      display: flex;
      flex-direction: column;
      align-items: center; }
      html .headerImage div h3 {
        margin-top: 0px; }
  html a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden; }
  html main {
    height: 1000px;
    margin-left: 10%;
    margin-right: 10%; }
  html .about {
    margin-bottom: 10%; }
    html .about div {
      display: flex;
      justify-content: space-around; }
      html .about div div {
        height: 200px;
        width: 200px;
        border-radius: 100px;
        align-self: center; }
        html .about div div img {
          height: 200px;
          width: 200px;
          border-radius: 100px; }
      html .about div p {
        font-size: 1.2em;
        width: 60%;
        align-self: center; }
  html .projectSection {
    color: #333d4d;
    width: 100%;
    margin-bottom: 10%; }
  html .project {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    @media (max-width: 1050px) {
      html .project .projectInfo {
        width: 100%;
        border-bottom: 3px solid white;
        font-size: 1.0em; }
        html .project .projectInfo .detailLink {
          display: block; }
      html .project img {
        display: none; } }
  html .projectInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.1em;
    color: #fefcf6;
    background-color: #333d4d;
    width: 500px;
    height: 500px;
    box-sizing: border-box; }
    html .projectInfo .mobileDisclaimer {
      text-align: center; }
    html .projectInfo .mobileIcons {
      display: none; }
    html .projectInfo .detailLink {
      display: none;
      text-decoration: none; }
    html .projectInfo .detailLink {
      color: #fefcf6; }
    html .projectInfo .topInfo {
      margin-right: 25px; }
    html .projectInfo .desktopIcons {
      display: flex;
      height: 150px;
      width: 300px;
      align-items: center;
      justify-content: space-around; }
      html .projectInfo .desktopIcons a {
        color: #fefcf6; }
      html .projectInfo .desktopIcons a:hover {
        cursor: pointer;
        opacity: 0.5; }
  html .projectElement {
    width: 500px;
    height: 500px;
    box-sizing: border-box; }
  html img {
    width: 500px;
    height: 500px;
    box-sizing: border-box; }
  html .contact a {
    color: #333d4d; }
  html .contact footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%; }
    html .contact footer div {
      width: 15%;
      display: flex;
      justify-content: space-between; }

/*# sourceMappingURL=styles.css.map */
