html {
  font-family: 'Open Sans', sans-serif;
  nav {
    .nameHeader {
      font-size: 50px;
    }
    .hoverLink {
      display: none;
    }
    .hamburger {
      display: none;
    }
    .mobileHamburger {
      display: flex;
      flex-direction: column;
      align-items: center;
      .showDropDown {
        display: none;
      }
      .headDropDown {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font-size: 40px;
        }
      }
    }
  }
  .headerImage {
    width: 100%;
    height: 1800px;
    background-image: url('../Images/mobile_ocean_pic.png');
    background-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    div {
      padding-top: 0;
      color: rgb(254, 252, 246);
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 70px;
      }
      h3 {
        font-size: 60px;
        margin-top: 0px;
      }
    }
  }
  main {
    margin-left: 5%;
    margin-right: 5%;
    .about {
      h1 {
        font-size: 60px;
      }
      div {
        display: flex;
        flex-direction: column;

        p {
          font-size: 40px;
          width: 80%;
        }
        div {
          height: 500px;
          width: 500px;
          border-radius: 250px;
          img {
            height: 500px;
            width: 500px;
            border-radius: 250px;
          }
        }
      }
    }
    .projectSection {
      h1 {
        font-size: 60px;
      }
    }
    .projectInfo {
      height: 800px;
      h3 {
        font-size: 40px;
      }
      p {
        font-size: 2.2em;
      }
      .mobileDisclaimer {
        display: none;
      }
      .topInfo {
        margin-right: 45px;
      }
      .mobileIcons {
        display: flex;
        height: 150px;
        width: 450px;
        align-items: center;
        justify-content: space-between;
        a {
          color: rgb(254, 252, 246);
        }
        a:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
      .desktopIcons {
        display: none;
      }
    }
    .contact {
      h1 {
        font-size: 70px;
      }
      p {
        font-size: 40px;
      }
      footer {
        display: flex;
        flex-direction: column;
      }
      div {
        width: 25%;
      }
    }
  }
}
