@mixin responsive-bg-image($image-width, $image-height) {
  background-size: 120%;
  height: 0;
  padding-bottom: percentage($image-height / $image-width);
  display: block;
}

$html-background-color: hsl(45, 80%, 98%);

html {
  background-color: $html-background-color;
  font-family: 'Arimo', sans-serif;
  color: rgb(51, 61, 77);
  body {
    margin: 0;
    position: relative;
  }
  nav {
    opacity: 0.96;
    display: flex;
    font-family: 'Francois One', sans-serif;
    letter-spacing: .05em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(51, 61, 77);
    position: fixed;
    width: 100%;
    background-color: rgb(254, 252, 246);
    white-space: nowrap;
    h1 {
      margin-left: 3%;
    }
    div {
      display: flex;
      width: 50%;
      justify-content: space-around;
    }
    .hoverLink > a {
      position: relative;
      text-decoration: none;
      color: rgb(51, 61, 77);
    }
    .hoverLink > a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #000;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    .hoverLink > a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    .hamburger {
      display: none;
    }
    .mobileHamburger {
      display: none;
    }

    @media(max-width: 800px) {
      .hoverLink {
        display: none;
      }
      .hamburger {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .headLink {
      // border-bottom: 1px solid white;
      border-bottom: 1px solid rgb(51, 61, 77);
      cursor: pointer;
    }
  }
  .hamburger {
    display: none;
    cursor: pointer;
    .showDropDown {
      display: none;
      .headDropDown {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .dropDownHoverLink {
      text-decoration: none;
      color: rgb(51, 61, 77);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .headerImage {
    width: 100%;
    height: 80%;
    overflow: hidden;
    background-image: url('../Images/new_ocean_pic.png');
    background-repeat: no-repeat;
    @include responsive-bg-image(204, 81);
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      padding-top: 40%;
      color: rgb(254, 252, 246);
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        margin-top: 0px;
      }
    }
  }

  a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

  main {
    height: 1000px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .about {
    margin-bottom: 10%;
    div {
      display: flex;
      justify-content: space-around;
      div {
        height: 200px;
        width: 200px;
        border-radius: 100px;
        align-self: center;
        img {
          height: 200px;
          width: 200px;
          border-radius: 100px;
        }
      }
      p {

        font-size: 1.2em;
        width: 60%;
        align-self: center;
      }
    }
  }

  .projectSection {
    color: rgb(51, 61, 77);
    width: 100%;
    margin-bottom: 10%;
  }

  .project {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @media(max-width: 1050px){
      .projectInfo {
        width: 100%;
        border-bottom: 3px solid white;
        font-size: 1.0em;
        .detailLink {
          display: block;
        }
      }
      img {
        display: none;
      }
    }
  }

  .projectInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.1em;
    color: rgb(254, 252, 246);
    background-color: rgb(51, 61, 77);
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    .mobileDisclaimer {
      text-align: center;
    }
    .mobileIcons {
      display: none;
    }
    .detailLink {
      display: none;
      text-decoration: none;
    }
    .detailLink {
      color: rgb(254, 252, 246);
    }
    .topInfo {
      margin-right: 25px;
    }
    .desktopIcons {
      display: flex;
      height: 150px;
      width: 300px;
      align-items: center;
      justify-content: space-around;
      a {
        color: rgb(254, 252, 246);
      }
      a:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }

  .projectElement {
    width: 500px;
    height: 500px;
    box-sizing: border-box;
  }

  img {
    width: 500px;
    height: 500px;
    box-sizing: border-box;
  }

  .imageOpacity {
    opacity: 0.6;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    cursor: pointer;
  }

  .contact {
    a {
      color: rgb(51, 61, 77);
    }
    footer {
      display: flex;
      justify-content: space-around;
      margin-bottom: 5%;
      div {
        width: 15%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
